/*
 *Reset FlexSlider Default Theme
 *To remove padding and drop shadows
 *and style elements added by this module
 *
*********************************/
.flexslider {
    margin: 0;
    background: #fff;
    border: none;
    position: relative;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -o-border-radius: 0;
    border-radius: 0;
    box-shadow: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    -o-box-shadow: none;
    zoom: 1;
}


/* Direction Nav */
.flex-direction-nav {
    height: 0;
}

.slider,
.controls {
	position: relative;
}

.flex-direction-nav a {
    width: 30px;
    height: 30px;
    margin: 0;
    display: block;
    background: url(bg_direction_nav.png) no-repeat 0 0;
    position: absolute;
    top: 50%;
    z-index: 10;
    cursor: pointer;
    text-indent: -9999px;
    opacity: 0;
    -webkit-transition: all .3s ease;
}

.controls .flex-direction-nav a {
	top: 25%;
}

.flex-direction-nav .flex-next {
    background-position: 100% 0;
    right: 5px;
}

.flex-direction-nav .flex-prev {
    left: 5px;
}

.flexslider:hover .flex-next {
    opacity: 0.8;
    right: 5px;
}

.flexslider:hover .flex-prev {
    opacity: 0.8;
    left: 5px;
}

.flexslider:hover .flex-next:hover, .flexslider:hover .flex-prev:hover {
    opacity: 1;
}

.flex-direction-nav .flex-disabled {
    opacity: .3!important;
    filter: alpha(opacity=30);
    cursor: default;
}

/* Control Nav */
.flex-control-nav {
    width: 100%;
    position: absolute;
    bottom: -40px;
    text-align: center;
}

.flex-control-nav li {
    margin: 0 6px;
    display: inline-block;
    zoom: 1;
    *display: inline;
}

.flex-control-paging li a {
    width: 11px;
    height: 11px;
    display: block;
    background: #666;
    background: rgba(0,0,0,0.5);
    cursor: pointer;
    text-indent: -9999px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -o-border-radius: 20px;
    border-radius: 20px;
    box-shadow: inset 0 0 3px rgba(0,0,0,0.3);
}

.flex-control-paging li a:hover {
    background: #333;
    background: rgba(0,0,0,0.7);
}

.flex-control-paging li a.flex-active-slide {
    background: #000;
    background: rgba(0,0,0,0.9);
    cursor: default;
}

.controls {
    margin: 5px 0 0;
    position: relative;
    overflow: hidden;
}

.controls li {
    width: 25%;
    float: left;
    margin: 0;
}

.controls img {
    width: 100%;
    display: block;
    opacity: .7;
    cursor: pointer;
}

.controls img:hover {
    opacity: 1;
}

.controls .flex-active-slide img {
    opacity: 1;
    cursor: default;
}

@media screen and (max-width: 860px) {
    .flex-direction-nav .flex-prev {
        opacity: 1;
        left: 0;
    }

    .flex-direction-nav .flex-next {
        opacity: 1;
        right: 0;
    }
}


/* Custom classes for
 * RC Distro
*********************************/

.btm-flexslider-media img {
    width: auto;
    height: auto;
}

.btm-flexslider-media ul.controls li img {
    width: auto;
    margin-right: 4px;
    margin-bottom: 4px;
}

.btm-flexslider-media .controls .control {
    width: auto !important;
}

.btm-flexslider-media li {
    display: inline-block;
}

.btm-flexslider-media-link {
	padding: .3em;
	text-align: center;
}

.btm-flexslider-media ul.slides li:only-child {
  display: block !important;
}
